<a href="https://colab.research.google.com/github/mazidzomader/CSE422-Project-Academic_Success_Analysis/blob/main/CSE422_Project_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [1]:
import pandas as pd

## Import Dataset

In [2]:
url = "https://github.com/mazidzomader/CSE422-Project-Academic_Success_Analysis/blob/main/Dataset/academic_success_dataset.csv?raw=true"

df = pd.read_csv(url)
display(df.head())

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Gender,Scholarship holder,Age at enrollment,International,Unemployment rate,Inflation rate,GDP,Target,Unnamed: 25,Unnamed: 26
0,1.0,17.0,5.0,171.0,1.0,1.0,122.0,1.0,19.0,12.0,...,1.0,0.0,NaN,0.0,10.8,1.4,1.74,Dropout,NaN,NaN
1,1.0,15.0,1.0,9254.0,1.0,1.0,160.0,1.0,1.0,3.0,...,1.0,0.0,19.0,0.0,13.9,-0.3,0.79,Graduate,NaN,NaN
2,1.0,NaN,5.0,9070.0,1.0,1.0,122.0,NaN,37.0,37.0,...,1.0,NaN,19.0,0.0,10.8,1.4,1.74,Dropout,NaN,NaN
3,1.0,17.0,2.0,9773.0,1.0,1.0,122.0,1.0,38.0,37.0,...,NaN,0.0,20.0,0.0,9.4,-0.8,-3.12,Graduate,NaN,NaN
4,2.0,39.0,1.0,8014.0,0.0,1.0,100.0,1.0,37.0,NaN,...,0.0,0.0,NaN,0.0,13.9,-0.3,0.79,Graduate,NaN,NaN

In [3]:
df.isnull().sum()

Marital status                     423
Application mode                   483
Application order                  426
Course                             465
Daytime/evening attendance\t       440
Previous qualification             434
Previous qualification (grade)     472
Nacionality                        446
Mother's qualification             414
Father's qualification             450
Mother's occupation                436
Father's occupation                425
Admission grade                    462
Displaced                          442
Educational special needs          448
Debtor                             452
Tuition fees up to date            426
Gender                             437
Scholarship holder                 450
Age at enrollment                  444
International                      428
Unemployment rate                  429
Inflation rate                     422
GDP                                456
Target                             453
Unnamed: 25                       4424
Unnamed: 26                       4424
dtype: int64